body {
    margin: 0;
    background: #8e8e8e;
}

.eventBlock {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    background: #bfbfbf;
}

p {
    margin: 0;
}
.title {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 3px;
    background: #b5b5b5;
}
.paragraph {
    margin-left: 10px;
}

.fakeLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#header {
    margin-left: auto;
    margin-right: 20px;
}

img {
    max-width: calc(100% - 4px);
    margin: 2px;
    border: 1px solid gray;
}

.description {
    font-size: 0.8em;
}

.imageWrapper {
    max-width: 200px;
    padding: 5px;
    border: 1px solid #606060;
    background: #acacac;
    border-radius: 5px;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    height: fit-content
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 3px 3px 3px 10px;
}